main {
  width: 78%;
  float: right;
}

h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}
#left-side {
   float: left;
   position: fixed;
}

header.nav-header {
  margin: 10px 0 0 0;
  line-height: 0;
}
p.comment {
  color:  #1044a5;
  margin: 0 auto;
  font-style: italic;
  font-size: 0.8em;
}
th {
  text-align: left;
}
img {
  display: block;
  margin: auto;
}
section {
  margin: auto 10%;
}

section ul li {
  line-height: 1.5em;
}

section p {
   margin: 15px auto;
  line-height: 1.5em;
}

section ul li {
  margin-bottom: 10px;
}

nav {
  width: 20%;
  position: fixed;
}

header {
  color : #4B77Ca;
  font-size: 1.5em;
  font-weight: 600;
  margin: 20px auto;
}
#navbar {
  font-size: 0.9em;
  position: fixed;
  line-height: 50px;
  height: 100%;
}

/* Remove bullets, margin and padding */
#navbar ul {
  border: 0 solid black;
  border-width: 0 0 1px 1px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  //height: 80%;
  overflow-x: hidden;
}

#navbar li {
  border: 0 solid black;
  border-width: 1px 1px 0 0;
}


/* Define the block styling for the links */
.nav-link {
  text-decoration: none;
  text-align: center;
  padding: 3px 16px  ;
  color: #4B77Ca;
  font-size: 1.5em;
  font-weight: 600;
}

code {
  top: 0;
  display: block;
  white-space: pre;
  word-wrap: break-word;
  line-height: 1.4em;
  background-color: #edeff2;
  margin: 4% auto;
}

@media(max-width: 1242px) {
  #navbar {
    font-size: 0.5em;
  }

  nav {
    width: 15%;
  }

  main {
    width: 83%
  }
}

@media(max-width: 1006px) {
  nav {
    display: none;
  }

  main {
    width: 100%;
  }
}
